

<html>
    {% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <div class="testando">Testing css</div>
        <img src="https://assets.nicepagecdn.com/5b806fde/6052434/images/2454282.png" alt="" data-original-src="https://assets.nicepagecdn.com/5b806fde/6052434/images/2454282.png" data-color="#000000">

        <form method = "GET"> 
            {{ form }} 
            <input type = "submit" value = "Submit"> 
        </form> 
    
        <div class="numberGrad">
            {% for number, count in results.items %} 
                    <div class="numberCell"> 
                        <a>{{number}}</a>
                        <span class="tooltiptext">{{count}}</span>
                    </div>
            {% endfor %} 
        </div>



    </body>
</html>